<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    
    <style>
      
      
        .col { 
          border: solid 2px black;
        }
        .h1 {
          color: aqua;
        }
          </style>
</head>
<body>
  <nav class="navbar navbar-expand-lg" style="background-color: #d53f31;">
        <div class="container-fluid">
         <a class="navbar-brand" href="#">Online Shop </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="index.html"> Home </a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="shirts.html">T-shirts</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="shoes.html">shoes</a>
              </li>
            </div>
          </div>
  
          <a href="register.html">Register here </a>


  
    </nav>



    <div class="container text-center">
      <div class="row align-items-start">
        <div class="col">
          <img src="https://assets.superbalistcdn.co.za/300x432/filters:quality(75):format(jpg)/3186013/original.jpg"  style="height: 300px;">
          <h4>
            POLO
          </h4>

          <p class="card-text"> 79$ </p>
          <a href="items.html" type="button" class="btn btn-outline-primary">
            buy
              </a>
          <br><br>
        </div>
        <div class="col">
          <img src="https://assets.superbalistcdn.co.za/300x432/filters:quality(75):format(jpg)/3660714/original.jpg" style="height: 300px;" alt="s">
          <h4>
            POLO
          </h4>
      <p class="card-text"> 79$ </p>
      <a href="items.html" type="button" class="btn btn-outline-primary">
     buy
       </a>
     <Br><br>
        </div>
        
        <div class="col">
          <img src="https://ralphlauren.scene7.com/is/image/PoloGSI/s7-1501173_lifestyle?$social_1x1$&fmt.png"  style="height: 300px;"   alt="s">
          <h4>
            POLO
          </h4>
          <p class="card-text"> 79$ </p>
          <a href="items.html" type="button" class="btn btn-outline-primary">
            buy
              </a>
          <br><br>
        </div>
      </div>
    </div>





    <div class="container text-center">
      <div class="row align-items-start">
        <div class="col">
          <img src="https://www.optimized-rlmedia.io/is/image/PoloGSI/s7-1493175_lifestyle?$plpDeskRF$" style="height: 300px;" alt="s">
          <h4>
            POLO
          </h4>
          <p class="card-text"> 79$ </p>
          <a href="items.html" type="button" class="btn btn-outline-primary">
            buy
              </a>
          <br><br>
        </div>
        <div class="col">
          <img src="https://www.careofcarl.com/bilder/artiklar/21355211r.jpg?m=1679404257" style="height: 300px;" alt="s">
          <h4>
            POLO
          </h4>
          <p class="card-text"> 79$ </p>
      <a href="items.html" type="button" class="btn btn-outline-primary">
     buy
       </a>
     <Br><br>
        </div>
        
        <div class="col">
          <img src="https://cdn02.nnnow.com/web-images/large/styles/A69PDQLJ21P/1688720967527/5.jpg"  style="height: 300px;"   alt="s">
          <h4>
            POLO
          </h4>
          <p class="card-text"> 79$ </p>
          <a href="items.html" type="button" class="btn btn-outline-primary">
            buy
              </a>
          <br><br>
        </div>
      </div>
    </div>








    <div class="container text-center">
      <div class="row align-items-start">
        <div class="col">
          <img src="https://www.lacoste.com.eg/dw/image/v2/BDCL_PRD/on/demandware.static/-/Sites-lacoste-master-catalog/default/dw4e8fde4a/images/41SUC0003_02H_01.jpg?sw=420&sh=420" style="height: 300px;" alt="s">
          <h4>
            LACOSTE
          </h4>
          <p class="card-text"> 89$ </p>
          <a href="items.html" type="button" class="btn btn-outline-primary">
            buy
              </a>
          <br><br>
        </div>
        <div class="col">
          <img src="https://image1.lacoste.com/dw/image/v2/AAQM_PRD/on/demandware.static/Sites-CH-Site/Sites-master/en_CH/dw805380ff/45SMA0112_1R5_01.jpg?imwidth=915&impolicy=product" style="height: 300px;" alt="s">
          <h4>
            LACOSTE
          </h4>
      <p class="card-text"> 89$ </p>
      <a href="items.html" type="button" class="btn btn-outline-primary">
     buy
       </a>
     <Br><br>
        </div>
        
        <div class="col">
          <img src="https://image1.lacoste.com/dw/image/v2/AAQM_PRD/on/demandware.static/Sites-SE-Site/Sites-master/en_SE/dwdd6c9a72/41SUJ0014_312_01.jpg"  style="height: 300px;"   alt="s">
          <h4>
            LACOSTE
          </h4>
          <p class="card-text"> 89$ </p>
          <a href="items.html" type="button" class="btn btn-outline-primary">
            buy
              </a>
          <br><br>
        </div>
      </div>
    </div>


    <div class="container text-center">
      <div class="row align-items-start">
        <div class="col">
          <img src="https://www.lacoste.sa/dw/image/v2/BDCL_PRD/on/demandware.static/-/Sites-lacoste-master-catalog/default/dwd3474ced/images/45SMA0090_GRG_01.jpg?sw=700&sh=700" style="height: 300px;" alt="s">
          <h4>
            LACOSTE
          </h4>
          <p class="card-text"> 89$ </p>
          <a href="items.html" type="button" class="btn btn-outline-primary">
            buy
              </a>
          <br><br>
        </div>
        <div class="col">
          <img src="https://dynamic.zacdn.com/kEw_bnnlHNUnz80SoisxgPYNCD0=/filters:quality(70):format(webp)/https://static-ph.zacdn.com/p/lacoste-0920-8529703-1.jpg" style="height: 300px;" alt="s">
          <h4>
            LACOSTE
          </h4>
      <p class="card-text"> 89$ </p>
      <a href="items.html" type="button" class="btn btn-outline-primary">
     buy
       </a>
     <Br><br>
        </div>
        
        <div class="col">
          <img src="https://www.lacoste.in/media/catalog/product/4/6/46sma0026_03a_01.jpg"  style="height: 300px;"   alt="s">
          <h4>
            LACOSTE
          </h4>
          <p class="card-text"> 89$ </p>
          <a href="items.html" type="button" class="btn btn-outline-primary">
            buy
              </a>
          <br><br>
        </div>
      </div>
    </div>





          
    <a href="https://geolab.edu.ge/tbceducation/"><img src="https://lh4.googleusercontent.com/-IHSyy7YPUZxSwvWywPwLbS-yHcnTQjWLcMJfXAo_TreaDBxM3eRprz9Eg2QrQrCdb-WvcaN9d6njjEZz_33eW5uTOrXT1MZn2FHFV-X3M3wXo8VrluK6_wl1sYaVb5xTE84fnHiuorNV7FyxVBtdw"></a>
    


</body>
</html>